<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Панель Пользователя</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../main.css" />
</head>
<body>
<div class="container-fluid fill-height" style="">

    <div th:replace="~{user_panel_fragments :: header}"></div>

    <div class="row" style="">

        <div th:replace="~{user_panel_fragments :: left_column}"></div>

        <div class="col-10" style="padding: 25px; ">

            <h2 style="">Панель пользователя</h2>
            <h3>Вы зашли на страницу пользователя</h3>

        </div>

    </div>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>